*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: white;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 5rem;
  flex-direction: column;
  align-items: center;
}

.new-book-container {
  min-width: 500px;  
}

.menu > form {
  width: 100%;
}

.form-field > label {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-left: 1rem;
}

.form-field > input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
}

.form-field {
  margin-block: 1rem;
}

.btn-container {
  text-align: right;
}

#add-book-btn {
  font-size: 1.4rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.books-summary {
  background-color: rgba(0, 200, 151, 0.5);
  min-width: 500px;
  margin-block: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 200, 151, 0.8);
}

.book {
  background-color: rgba(0, 200, 151, 0.5);
  width: 500px;
  margin-block: 1.2rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 200, 151, 0.8);
}

.book-title {
  font-size: 2.5rem;
  color: #000000;
}

.book-author {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.8rem 0 1.2rem 0;
}

.book-info ul {
  list-style-type: none;
  display: flex;
}

.book-info li {
  margin-right: 1rem;
  padding: 0.5rem;
  background-color: #ffd365;
  border-radius: 0.5rem;
  border: 1px solid rgb(204, 158, 41);
}
